.first_run_all {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  line-height: 1vh;
}

.start_day_words {
  line-height: 1vh;
}

.start_day_pic img {
  width: 25vw;
  border: 2px solid rgb(18, 35, 45);
  border-radius: 50%;
  text-align: center;
}

.first_run_all {
  text-align: center;
}

.start_day_bold {
  font-weight: 800;
  font-size: 5vh;
}

.welcome_all {
  padding: 4vh 0;
}
