.home_all {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 8vh 8vh;
  text-align: center;
  font-size: 4.5vw;
}

.home_all p {
  margin: 0 auto;
  font-weight: 400;
}

.home_logo img {
  width: 63vw;
}

.text_bold {
  font-size: 8vw;
  font-weight: 800;
  margin: 5vw 0;
  line-height: 4.5vh;
}

.text_light {
  font-weight: lighter;
}

.home_inferior {
  margin: 3vh 0;
}

.home_inferior p {
  font-weight: 800;
  font-size: 4.5vw;
}

.green_button {
  border: 1px solid rgb(68, 181, 73);
  background-color: rgb(68, 181, 73);
  color: rgb(18, 35, 45);
  border-radius: 3vw;
  padding: 3.5vw 18vh;
  font-size: 4.5vw;
}
