.home_all {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 8vh 0;
  text-align: center;
  font-size: 4.5vw;
  font-weight: 100;
}

.home_all p {
  margin: 0 auto;
}

.home_all img {
  width: 63vw;
}

.home_meio {
  line-height: 6vh;
  margin: 5vw 0;
}

.home_meio p {
  font-size: 8vw;
  font-weight: bold;
}

.home_inferior {
  margin: 3vh 0;
}

.home_inferior p {
  font-weight: 800;
  font-size: 4.5vw;
}

.green_button {
  border: 1px solid rgb(44, 160, 79);
  background-color: rgb(44, 160, 79);
  border-radius: 3vw;
  padding: 3.5vw 18vh;
  font-size: 4.5vw;
}
